

### Django ###
*.registro
*.pote
*.pyc
__pycache__/
configurações_locais.py
db.sqlite3
db.sqlite3-diário
mídia


### Pilha Django.Python ###
# Arquivos DLL compilados/otimizados em bytes
*.py[bacalhau]
*$py.class

# Extensões C
*.então

# Distribuição / embalagem
.Python
construir/
desenvolver-ovos/
dist/
downloads/
ovos/
.ovos/
biblioteca/
lib64/
partes/
sdist/
var/
rodas/
compartilhar/rodas-python/
*.egg-info/
.instalado.cfg
*.ovo
MANIFESTO

# Instalador Py
# Normalmente esses arquivos são escritos por um script python a partir de um modelo
# antes que o PyInstaller crie o exe, para injetar data/outras informações nele.
*.manifesto
*.espec

# Registros do instalador
pip-log.txt
pip-delete-este-diretório.txt

# Testes unitários / relatórios de cobertura
htmlcov/
.tox/
.nox/
.cobertura
.cobertura.*
.cache
nosetests.xml
cobertura.xml
*.cobrir
*.py,capa
.hipótese/
.pytest_cache/
cobrir/

# Traduções
*.mo

# Coisas do Django:

# Coisas de frasco:
exemplo/
.webassets-cache

# Coisas estranhas:
.rascunho

# Documentação do Sphinx
docs/_build/

# Construtor Py
.pybuilder/
alvo/

# Caderno Jupyter
.ipynb_pontos de verificação

#IPython
perfil_padrão/
ipython_config.py

# https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; usado por exemplo, github.com/David-OConnor/pyflow e github.com/pdm-project/pdm
__pypacotes__/

# Coisas de aipo
agendamento do celerybeat
celerybeat.pid

# Arquivos analisados ​​pelo SageMath
*.sage.py

# Ambientes
.env
.venv
ambiente/
venv/
Ambiente/
env.bak/
venv.bak/

# Configurações do projeto Spyder
.projeto spyder
.projeto espião

# Configurações do projeto de corda
.projeto de corda

# documentação do mkdocs
/site

# meupy
.mypy_cache/
.dmypy.json
dmypy.json

# Verificador de tipo de pira
.pira/

# analisador de tipo estático pytype
.pytype/

# Símbolos de depuração do Cython
cython_debug/
#local-configuration
poesia.toml

# ruff
.ruff_cache/

# Arquivos de configuração LSP
pyrightconfig.json

*.pyc
__pycache__/
venv/
*.sqlite3
*.log
.env
staticfiles/


# Fim de https://www.toptal.com/developers/gitignore/api/python,django
