{% extends 'base.html' %}

{% block title %}Nova Administradora{% endblock %}

{% block content %}
<div class="container">
    <h2>{% if editar %}Editar{% else %}Nova{% endif %} Administradora</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{% if editar %}Atualizar{% else %}Salvar{% endif %}</button>
        <a href="{% url 'administradora_lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}